h1 {
    background-color: aqua;
    display: flex;
    justify-content: center;
    font-family: 'Lobster';

}
h1:hover{
    background-color: rgb(247, 227, 93);
}




h2 {
    background-color: antiquewhite;
    margin: 0%;
    animation: move 1s;
}

h3{
    background-color: antiquewhite;
    margin: 0%;
    animation: move 1s;
}

h4{
    background-color: antiquewhite;
    margin: 0%;
    animation: move 1s;
}


#hero {
    background-color: darkgrey;
    margin: 10%;
    display: flex;
    justify-content: center; 
    height:200px;
    animation: ani 3s;
}
@keyframes ani{
    0%{
        opacity: 0%;
    }
    100%
    {
        opacity: 100%;
    }
}

    
@keyframes move{
    0% {
        margin-left: -10000px;
    }
100% {
    margin-left: 0px;
}
}
#team{
    width: 80px;
    background-color: aliceblue;
}

#team:hover{
    background-color: aqua;
}

